/* CSS reset */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  /* outline: 2px solid red; */
}

header {
  background: url(/images/desktop/image-header.jpg);
  background-size: cover;
  height: 100vh;
  /* height: 900px; */
  display: block;
}

.nav-list {
  margin: 0;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
  margin-bottom: 1rem;
  font-family: "Barlow";
}

.contact-btn {
  border-radius: 40px;
  border-style: none;
  padding: 12px;
  font-size: 1rem;
  font-family: "Fraunces";
  font-weight: 900;
}

.nav-item a {
  color: white;
  text-decoration: none;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.header-text {
  display: flex;
  height: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  font-family: "Fraunces";
  color: white;
  font-size: 2rem;
}

.header-arrow {
  display: flex;
  justify-content: center;
}
/* section 1 */

.section_1,
.section_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.section_1 img,
.section_2 img {
  display: block;
  width: 100%;
}

.section1-text,
.section2-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 34px;
}

.section1-text h1,
.section2-text h1 {
  font-family: "Fraunces";
  font-weight: 700px;
  font-size: 50px;
  margin-bottom: 25px;
}

.section_1 h3 {
  font-family: "Fraunces";
  font-weight: 900px;
  font-size: 20px;

  text-decoration: underline;
  text-decoration-thickness: 7px;
  text-decoration-color: hsl(51, 100%, 49%);

  color: black;
}

.section_2 h3 {
  font-family: "Fraunces";
  font-weight: 900px;
  font-size: 20px;

  text-decoration: underline;
  text-decoration-thickness: 7px;
  text-decoration-color: hsl(7, 99%, 70%);

  color: black;
}
.section1-text p,
.section2-text p {
  font-family: "Barlow";
  color: hsl(213, 9%, 39%);
  font-weight: 700px;
  font-size: 22px;
  margin-bottom: 40px;
}

/* section 3 */

.container-section3 {
  display: flex;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  width: 100%;
  height: 800px;
  margin-bottom: 70px;
}

.container-left {
  width: 100%;
  display: block;
  background: url(/images/desktop/image-graphic-design.jpg);
  background-size: cover;
}

.container-right {
  display: block;
  width: 100%;
  background: url(/images/desktop/image-photography.jpg);
  background-size: cover;
}

.section3-textleft,
.section3-textright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 700px;
  padding: 35px;
}

.section3-textleft h1 {
  font-family: "Fraunces";
  font-size: 30px;
  color: hsl(167, 40%, 24%);
  font-weight: 700px;
  margin-bottom: 20px;
}

.section3-textleft p {
  color: hsl(167, 40%, 24%);
  font-family: "Barlow";
  font-size: 20px;
}

.section3-textright h1 {
  font-family: "Fraunces";
  font-size: 30px;
  color: hsl(198, 62%, 26%);
  font-weight: 700px;
  margin-bottom: 20px;
}

.section3-textright p {
  color: hsl(198, 62%, 26%);
  font-family: "Barlow";
  font-size: 20px;
}

/* CLIENT testimonial */

.testimonial-section {
  width: 100%;
  height: 600px;
}
.client-test {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  font-family: "Fraunces";
  font-size: 35px;
  color: hsl(210, 4%, 67%);
  font-weight: 700;
}

.testimonials {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.testimonial-block {
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

.testimonial-text {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.testimonial-text p {
  margin-bottom: 50px;
  display: flex;
  font-family: "barlow";
  color: hsl(213, 9%, 39%);
  font-weight: 600px;
}

.testimonial-text h2 {
  font-family: "Fraunces";
  margin-bottom: 10px;
}

.testimonial-bottom-text {
  font-family: "barlow";
  color: hsl(210, 4%, 67%);
}

.testimonial-image {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.testimonial-image img {
  border-radius: 50%;
  height: 90px;
}

/* .testimonial-block {
} */

/* section 4 */
.section4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.section4 img {
  width: 100%;
  display: block;
}

/* Footer */

footer {
  background-color: hsl(168, 34%, 41%);
}
.footer_img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(167, 40%, 24%);
  padding: 24px;
  gap: 40px;
  margin-bottom: 25px;
  font-family: "barlow";
  font-weight: 600;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
